body {
  --note-icon-1: url(/img/batmask.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
    
#disqus_thread {
  box-sizing: border-box;
   min-width: 350px;
   width: 100%;
    position: relative;
    bottom: 10px;
}

 .sidebar {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-width: 350px;
   width: 100%;
  }

  .sidebar .content {
    display: none;
}
}
