body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   //  background-color: {#E0DDCD};
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //color: #E0DDCD;
    //  }
 { --note-icon-1: url(/img/bat.svg);
  --note-icon-2: url(/img/tree-2.svg);
  --note-icon-3: url(/img/tree-3.svg);
  --note-icon-fallback: url(/img/default-note-icon.svg);
}

.content {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   min-width: 400px;
   padding: 20px;
   width: 100%;
    position: relative;
    bottom: 10px;
}

.backlinks > * {
    position: absolute;
    bottom: 600px;
    }
    
}
